<html>
  <body>

   <style>
    body {
        background: url(../static/hello.jpg) no-repeat center bottom fixed;
        background-size: cover;


    }
</style>
<br><br>
<center><h3 class = 'alert alert-success'>About Us !</h3></center>
    <div class="jumbotron"><center>
  <h1 class="display-4">Hello, Reader!</h1>
  <p class="lead">It's a Student Management System </p>
 <p> We tried to make a simple Student portal</p>
  <hr class="my-4">
  <p>Explore our Website.
    This website made by East west University Student.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
</center>
</div>

  
  </body>
</html>
