
<html lang="en" dir="ltr">
  <head>



    <title>Contact Us</title>


  </head>
  <body>

  
<br><br>

<center>

  <br>
  <br>
  <br>
    <p style="color:hsl(0, 95%, 56%)"><b>If any Query Contact with Us.</b></p>
    <p>
    Summer 2022 
                        <br> Made by: <br>Izazul Hoq Imran (2019-3-60-043)<br> 
                        Tropa Das(2019-3-60-138)</p>
                        <br>
                        <p style="color:hsl(118, 95%, 56%)"><b> Email: Irkfcb@gmail.com (Izazul Hoq Imran)
                          <br>Number: 01758808670 </b></p>
    <br>
    <br>
     <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
                        
        </center>
  </body>
</html>
